@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 1.5rem;
  padding: 10px;
  border: 2px solid black;
}

header ul li {
  font-size: 2.8rem;
}

.form-container {
  @include flexbox();
  margin: 1.5rem;
  padding: 10px;
  border: 2px solid black;
}

.form-group {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

input {
  margin: 5px;
}

.buttons {
  @include flexbox();
}

.buttons input {
  padding: 3px;
  width: 65px;
}

.buttons:nth-child(1) {
  margin: 5px 5px 5px 0;
}

#result {
  margin: 10px 0;
  @include flexbox();
  border: 5px solid black;
  height: 70px;
  width: 300px;
}

#scores {
  @include flexbox();
}

#scores div {
  @include flexbox();
  width: 120px;
  height: 30px;
  border: 3px solid black;
  margin-top: 3px;
  margin-bottom: 20px;
  margin-right: 5px;
  font-weight: bolder;
  font-size: 20px;
}

#player-score {
  margin: 10px 0;
}

#computer-score {
  margin: 10px 0;
}

#playAgain {
  @include flexbox();
}

@media (max-width: 768px) {
  header ul li {
    font-size: 2.2rem;
  }
}

@media (max-width: 355px) {
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
  #result {
    width: 260px;
    font-size: 12px;
  }
}

@media (max-width: 318px) {
  #scores div {
    width: 100px;
  }
  #result {
    width: 224px;
  }
}
